.head {
    position: fixed;
    width: 98%;
    height: 12%;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    margin: 1%;
}
.main-heading {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    font-size: 3.5vw;
    margin-top: 0.5%;
}
.screen1 {
    position: absolute;
    width: 48%;
    height: 40%;
    top: 15%;
    background: rgba(0,0,0,0.3);
    border-radius: 30px;
    margin: 1%;
}
.screen2 {
    position: absolute;
    width: 48%;
    height: 40%;
    top: 15%;
    left: 50%;
    background: rgba(0,0,0,0.3);
    border-radius: 30px;
    margin: 1%;
}
.screen3 {
    position: absolute;
    width: 48%;
    height: 40%;
    top: 57%;
    background: rgba(0,0,0,0.3);
    border-radius: 30px;
    margin: 1%;
}
.screen4 {
    position: absolute;
    width: 48%;
    height: 40%;
    top: 57%;
    left: 50%;
    background: rgba(0,0,0,0.3);
    border-radius: 30px;
    margin: 1%;
}
.logo1, .logo2, .logo3, .logo4 {
    position: absolute;
    height: 50%;
    width: 18%;
    top: 25%;
    left: 4%;
    border-radius: 10%;
}
.head1, .head2, .head3, .head4 {
    font-family: "Exo 2", sans-serif;
    font-size: 3vw;
    position: absolute;
    left: 50%;
}
.text1, .text2, .text3, .text4 {
    font-size: 1.3vw;
    font-family: "Exo 2", sans-serif;
    position: absolute;
    left: 50%;
    top: 30%;
}
.wrapper {
    position: fixed;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}